/* Background */
body.is-preload #background:before {
    background-color: transparent;
}

/* Header */
body.is-preload #header {
    filter: none;
}

body.is-preload #header > * {
    opacity: 1;
}

body.is-preload #header .content .inner {
    max-height: none;
    padding: 3rem 2rem;
    opacity: 1;
}

/* Main */
#main article {
    opacity: 1;
    margin: 4rem 0 0 0;
}
